<div class="heroo">
</div>


<br>
</br>
<div class="margin-left">
  <h1>Here to A-Muse.</h1>
  <br>
  </br>
  <body>
    We are NEUMUSE. An evolutionary brand, digital blog and ultra 
    contemporary online gallery of the world's most incredible 
    furniture and fashion successes. We believe that there is a 
    purposeful intersection between furniture and fashion that 
    profoundly informs the other. 

    NOTE: We are a startup. Our team is quickly working out the kinks to 
    give you the driver's seat to start posting content to our database. 
    But we are not quite there yet. Until then, let us be your favorite 
    Muse so that we can best shape NEUMUSE. 

    <br>
    </br>

    <br>
    Cheers.
    </br>

  </body>
  <%= link_to 'NEUMUSE', root_path %>
</div>

