<div class="hero">
  <div class="margin-left">
    <h1>Greetings</h1>
    <h2>The Collision of Fashion & Interior Design.</h2>
  </div>
</div>


<%= link_to 'About NEUMUSE', about_path, :class => "margin-left" %>
