<div class="margin-left">
<h1>Neu News, New Muse</h1>
</div>

<br>
<%= render 'form' %>
</br>

<%= link_to 'Back', articles_path, :class=> "margin-left" %>

<div class="row margin-left">
    <div class="col-12 col-sm-4">
      <%= image_tag 'steel.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h3 class="text-center">|Interested in Purchasing Fine Office Furnishings?|</h3>
      <br />
      <p>
        Adorn your NeuWorkspace with elite Steelcase and Herman Miller modular furnitures starting with a comfy lounge chair and ending off with an L shape low-level couch.

        For more information on pricing, color and materiality, head over to Steelcase and Herman Miller for a full download. 
      </p>
    </div>
  </div>